#include "C:/Users/matt_admin/Documents/GitHub/AntiVirus/agent/windows/service/../installer/native/include/SetupResourceIds.h"
IDR_PAYLOAD_SERVICE RCDATA "C:/Users/matt_admin/Documents/GitHub/AntiVirus/agent/windows/service/../out/dev/fenrir-agent-service.exe"
IDR_PAYLOAD_ENDPOINT_CLIENT RCDATA "C:/Users/matt_admin/Documents/GitHub/AntiVirus/agent/windows/service/../out/dev/fenrir-endpoint-client.exe"
IDR_PAYLOAD_PAM_CLIENT RCDATA "C:/Users/matt_admin/Documents/GitHub/AntiVirus/agent/windows/service/../out/dev/fenrir-pam.exe"
IDR_PAYLOAD_WEBVIEW2_LOADER RCDATA "C:/Users/matt_admin/Documents/GitHub/AntiVirus/agent/windows/service/../out/dev/WebView2Loader.dll"

IDR_PAYLOAD_AMSI_PROVIDER RCDATA "C:/Users/matt_admin/Documents/GitHub/AntiVirus/agent/windows/service/../out/dev/fenrir-amsi-provider.dll"
IDR_PAYLOAD_SCANNERCLI RCDATA "C:/Users/matt_admin/Documents/GitHub/AntiVirus/agent/windows/service/../out/dev/tools/fenrir-scannercli.exe"
IDR_PAYLOAD_AMSITESTCLI RCDATA "C:/Users/matt_admin/Documents/GitHub/AntiVirus/agent/windows/service/../out/dev/tools/fenrir-amsitestcli.exe"
IDR_PAYLOAD_ETWTESTCLI RCDATA "C:/Users/matt_admin/Documents/GitHub/AntiVirus/agent/windows/service/../out/dev/tools/fenrir-etwtestcli.exe"
IDR_PAYLOAD_WFPTESTCLI RCDATA "C:/Users/matt_admin/Documents/GitHub/AntiVirus/agent/windows/service/../out/dev/tools/fenrir-wfptestcli.exe"
IDR_PAYLOAD_SIGNATURES RCDATA "C:/Users/matt_admin/Documents/GitHub/AntiVirus/agent/windows/service/../signatures/default-signatures.tsv"
IDR_PAYLOAD_DRIVER_INF RCDATA "C:/Users/matt_admin/Documents/GitHub/AntiVirus/agent/windows/service/../driver/minifilter/AntivirusMinifilter.inf"
IDR_PAYLOAD_DRIVER_README RCDATA "C:/Users/matt_admin/Documents/GitHub/AntiVirus/agent/windows/service/../driver/minifilter/README.md"
IDR_PAYLOAD_WINPTHREAD RCDATA "C:/Strawberry/c/bin/libwinpthread-1.dll"
