#include "C:/Users/matt_admin/Documents/GitHub/AntiVirus/agent/windows/service/../installer/native/include/SetupResourceIds.h"
IDR_PAYLOAD_SERVICE RCDATA "C:/Users/matt_admin/Documents/GitHub/AntiVirus/agent/windows/service/build-quiet/fenrir-agent-service.exe"
IDR_PAYLOAD_ENDPOINT_CLIENT RCDATA "C:/Users/matt_admin/Documents/GitHub/AntiVirus/agent/windows/service/build-quiet/fenrir-endpoint-client.exe"
IDR_PAYLOAD_AMSI_PROVIDER RCDATA "C:/Users/matt_admin/Documents/GitHub/AntiVirus/agent/windows/service/build-quiet/fenrir-amsi-provider.dll"
IDR_PAYLOAD_SCANNERCLI RCDATA "C:/Users/matt_admin/Documents/GitHub/AntiVirus/agent/windows/service/build-quiet/fenrir-scannercli.exe"
IDR_PAYLOAD_AMSITESTCLI RCDATA "C:/Users/matt_admin/Documents/GitHub/AntiVirus/agent/windows/service/build-quiet/fenrir-amsitestcli.exe"
IDR_PAYLOAD_ETWTESTCLI RCDATA "C:/Users/matt_admin/Documents/GitHub/AntiVirus/agent/windows/service/build-quiet/fenrir-etwtestcli.exe"
IDR_PAYLOAD_WFPTESTCLI RCDATA "C:/Users/matt_admin/Documents/GitHub/AntiVirus/agent/windows/service/build-quiet/fenrir-wfptestcli.exe"
IDR_PAYLOAD_SIGNATURES RCDATA "C:/Users/matt_admin/Documents/GitHub/AntiVirus/agent/windows/service/../signatures/default-signatures.tsv"
IDR_PAYLOAD_WINPTHREAD RCDATA "C:/Strawberry/c/bin/libwinpthread-1.dll"
